{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"brace-style": 1,
		"consistent-return": 1,
		"curly": 1,
		"function-paren-newline": 1,
		"max-lines-per-function": 0,
		"max-params": 1,
		"max-statements-per-line": 1,
		"no-continue": 1,
		"no-else-return": 1,
		"no-extra-parens": 1,
		"no-extra-semi": 1,
		"no-negated-condition": 1,
		"no-param-reassign": 1,
		"no-redeclare": 1,
		"no-restricted-syntax": 1,
		"no-unused-vars": 1,
		"no-use-before-define": 1,
		"object-curly-newline": 1,
		"operator-linebreak": 1,
		"semi": 1,
		"sort-keys": 1,
		"strict": 1,
		"wrap-iife": 1,
	},

	"overrides": [
		{
			"files": "example/**",
			"rules": {
				"no-console": 0,
			},
		},
	],
}
